.delete {
    background-color: transparent;
    border-radius: 20px;
    border-style: solid;
    border-color: #343a40;
}

/* tr {
    border-width: 1px;
    border-color: black;
    border-style: solid;
} */